.button {
	padding: 8px 16px;
	border-radius: 8px;
	background-color: $whiteColor;
	border: 2px solid $primaryColor;
	transition: all 300ms ease;
	cursor: pointer;

	&:hover {
		background-color: $primaryColor;

		> p {
			color: $whiteColor;
		}
	}

	> p {
		@include flex(row, center);
		color: $primaryColor;
		font-size: 14px;
		font-weight: 600;
		transition: inherit;
	}
}
