@import "../../styles/variables";

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: stretch;
	background-color: $primaryColor;
}

.left-slide {
	flex: 2;
}

.right-slide {
	flex: 1;
	margin: 20px;
	background-color: $white;
	border-radius: 20px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	> .footer {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
		padding: 20px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> button {
			padding: 10px 20px;
			border-radius: 8px;
			color: $primaryColorBlack;
			font-weight: 600;
			cursor: pointer;
			transition: all 300ms ease;

			&.active {
				background-color: $primaryColorDark;
				color: $white;
			}
		}
	}

	> .body {
		flex: 1;
		margin: 20px 30px;
	}
}
