@import 'src/styles/package/allPackage.scss';

.google-login-button {
	@include flex(row, center);
	flex: 1;
	padding: 16px;
	background-color: rgb(255, 68, 68);
	color: var(--white-color);
	border-radius: 10px;
	transition: all 300ms ease;

	&:hover {
		cursor: pointer;
		filter: brightness(1.5);
	}

	> svg {
		font-size: 18px;
		margin-right: 10px;
	}

	> span {
		font-size: 14px;
		font-weight: 600;
		margin: 0 auto;
	}
}
