@import '../../../styles/package/allPackage.scss';

.slide-bar {
	@include size(100%, false);

	> ul {
		@include flex(column, center);

		> li {
			@include size(40px);
			@include flex(row, center, center);
			@include position(relative);
			border-radius: 4px;
			transition: background-color 300ms ease;
			font-size: 18px;
			color: var(--primary-color-black);

			&.active {
				background-color: var(--primary-color);
				color: var(--white-color);
			}

			&:not(:first-child) {
				margin-top: 4px;
			}

			&:hover {
				color: var(--primary-color-dark);
				background-color: #efefef;
				cursor: pointer;
			}

			> span {
				@include position(absolute, 50%, false, false, 100%);
				transform: translate(4px, -50%);
			}
		}
	}
}
