:root {
	--primary-color: #1e78ff;
	--primary-color-light: #5d9eff;
	--primary-color-black: rgb(27, 98, 205);
	--primary-color-dark: rgb(19, 69, 144);
	--secondary-color: rgb(255, 136, 0);
	--white-color: #fff;

	--window-width: 1200px;
	--header-height: 60px;
}
