.direction-list {
	@include size(100%, false);
	@include flex(row, flex-start, space-between);

	> .direction-list__item {
		@include flex(column, flex-start, center);

		> .title {
			font-size: 20px;
			margin-bottom: 10px;
		}

		> a {
			color: $whiteColor;
			font-size: 16px;
			opacity: 0.7;
			padding: 10px 0;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}
