.dev-info {
	margin-top: 60px;

	> .title {
		font-size: 20px;
		margin-bottom: 10px;
	}

	> .contact-container {
		@include flex(column, flex-start);

		> .facebook:hover {
			text-decoration: underline;
		}

		> .facebook,
		> .google,
		> .phone-number {
			@include flex(row, center);
			margin-top: 20px;
			color: $whiteColor;

			> img {
				@include size(40px, false);
			}

			> span {
				margin-left: 10px;
			}
		}
	}
}
