$primaryColorLight: #5d9eff;
$primaryColor: #1e78ff;
$primaryColorBlack: rgb(27, 98, 205);
$primaryColorDark: rgb(19, 69, 144);
$secondaryColor: rgb(255, 136, 0);
$white: #fff;

$windowWidth: 1200px;
$headerHeight: 60px;
