.header-wrapper {
	@include size(100%, false);
	@include position(fixed, 0, 0);
	z-index: 100;
	height: $headerHeight;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	background-color: $whiteColor;

	> .header-container {
		margin: 0 auto;
		height: 100%;
		width: $windowWidth;
		max-width: 100%;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * {
			flex: 1;
		}
	}
}
