@import 'src/styles/package/allPackage.scss';

.header-wrapper {
	@include size(100%, false);
	@include position(fixed, 0, 0);
	z-index: 100;
	height: var(--header-height);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	background-color: var(--white-color);

	> .header-container {
		margin: 0 auto;
		height: 100%;
		width: var(--window-width);
		max-width: 100%;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * {
			flex: 1;
		}
	}
}
