@import '../../styles/package/allPackage.scss';

.footer {
	@include size(100vw, false);
	padding: 60px 140px;
	background-image: linear-gradient(160deg, $primaryColorDark, $primaryColor);
	color: $whiteColor;
}
