@import '../../../styles/package/allPackage.scss';

.container {
	@include size(100%, false);

	> .profile-information-wrapper {
		@include size(100%, false);
		padding: 30px;
		border-radius: 10px;
		background-image: linear-gradient(
			90deg,
			$primaryColor,
			$primaryColorBlack
		);

		> h2 {
			color: $primaryColorBlack;
		}
	}
}
