@import '../../../../styles/package/allPackage.scss';

.panel {
	@include flex(row, center);
	@include position(relative);
	padding: 6px 10px;
	border-radius: 10px;
	background-color: rgb(245, 245, 245);
	transition: all 300ms ease;

	> .left-slider {
		@include flex(column, flex-end, center);

		> * {
			@include maxSize(140px, false);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		> .full-name {
			font-size: 13px;
		}

		> .email {
			font-size: 10px;
			opacity: 0.7;
		}
	}

	> img {
		@include size(36px);
		border-radius: 50%;
		margin-left: 14px;
	}

	&:hover {
		cursor: pointer;
		background-color: #eee;
	}
}
