@import "../../../styles/package/allPackage.scss";

.title {
	color: $primaryColorDark;
	font-size: 18px;
	display: flex;
	align-items: center;
	margin-bottom: 44px;

	> svg {
		font-size: 40px;
		padding: 5px;
		margin-right: 10px;
	}
}
