@import 'src/styles/package/allPackage.scss';

.title {
	color: var(--primary-color-dark);
	font-size: 18px;
	display: flex;
	align-items: center;
	margin-bottom: 44px;

	> svg {
		font-size: 40px;
		padding: 5px;
		margin-right: 10px;
	}
}
