.facebook {
	@include size(500px, false);
	@include flex(row, center);
	padding: 30px;
	border-radius: 10px;
	background-color: $primaryColorBlack;
	color: $whiteColor;

	> .icon {
		@include flexCenter();
		@include size(30px);
	}

	> p,
	> input {
		@include webkitMaxLine(1);
		flex: 1;
		margin-left: 10px;
		font-size: 16px;
		text-overflow: ellipsis;
	}

	> input {
		color: $whiteColor;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid $whiteColor;
	}

	> .edit-icon,
	> .save-icon,
	> .reset-icon,
	> .access-icon,
	> .copy-icon {
		@include size(30px);
		padding: 6px;
		border-radius: 50%;
		transition: all ease 300ms;

		&:hover {
			cursor: pointer;
			background-color: rgba($whiteColor, 0.1);
		}

		&:not(:first-child) {
			margin-left: 10px;
		}
	}
}
