.profile-information {
	> h2 {
		color: $primaryColor;
	}

	> .container {
		@include size(100%, false);
		@include flex(row, space-between);
		padding: 20px;
		border-radius: 10px;
		background-image: linear-gradient(
			90deg,
			$primaryColor,
			$primaryColorBlack
		);
		margin-top: 10px;
		border: 1px solid $primaryColor;

		> .information {
			flex: 1;
			margin-top: 10px;
			color: $whiteColor;

			> .id-wrapper {
				@include flex(row, center);
				margin-top: 10px;

				> .id {
					margin-right: 10px;
				}
			}

			> .email-wrapper,
			> .class-name-wrapper,
			> .description-wrapper {
				@include flex(row, center);
				margin-top: 20px;

				> svg {
					font-size: 28px;
				}

				> span {
					margin-left: 10px;
				}
			}

			> .email-wrapper {
				> svg {
					font-size: 28px;
				}
			}

			> .class-name-wrapper {
				> svg {
					font-size: 25px;
					margin-left: 1px;
				}
			}

			> .description-wrapper {
				margin-top: 30px;

				> pre {
					font-size: 15px;
					white-space: pre-wrap;
				}
			}
		}

		> .qr-code-wrapper {
			@include size(128px);
			@include position(relative);
			border-radius: inherit;
			margin-right: 10px;

			&::before {
				content: '';
				@include position(absolute, 0, 0, 0, 0);
				border-radius: inherit;
				transition: all 400ms ease;
			}

			&:hover {
				cursor: pointer;

				&::before {
					background-color: rgba(0, 0, 0, 0.6);
				}

				> .preview-button,
				> .download-button {
					opacity: 1;
				}
			}

			> .preview-button,
			> .download-button {
				color: $whiteColor;
				opacity: 0;
				transition: all 400ms ease;
				box-sizing: content-box;
				border-radius: 50%;

				&:hover {
					background-color: rgba($whiteColor, 0.2);
				}
			}

			> .preview-button {
				@include position(absolute, 50%, 50%);
				font-size: 28px;
				transform: translate(50%, -50%);
				padding: 10px;
			}

			> .download-button {
				@include position(absolute, false, 4px, 4px);
				font-size: 18px;
				padding: 4px;
			}

			> canvas {
				@include size(60px);
				border-radius: inherit;
				padding: 10px;
				background-color: $whiteColor;
			}
		}

		> .avatar {
			@include size(128px);
			background-color: $whiteColor;
			border-radius: inherit;
			padding: 10px;

			> img {
				@include size(100%);
				border-radius: inherit;
				object-fit: cover;
			}
		}
	}
}
