@import '../../../../../styles/package/allPackage.scss';

.panel-box {
	@include position(absolute, 100%, 0);
	border-radius: 8px;
	padding: 10px;
	background-color: #fff;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 400ms ease;
	margin-top: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	pointer-events: none;

	&.show {
		opacity: 1;
		transform: translateY(0);
		pointer-events: unset;
	}

	> .button-panel-list-title {
		text-align-last: left;
	}
}
